// @import '.animation.scss';

*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	// do em i rem tak żeby to było 10px
	scroll-behavior: smooth;
}

.wrapper {
	margin: 0 auto;
	max-width: 120em;
	width: 100%;
}

.burger__button {
	position: relative;
	display: flex;
	justify-content: flex-end;
	padding: 20px 10px;
	text-decoration: none;
	color: black;
	position: sticky;

	&__spin {
		cursor: pointer;
		position: absolute;
		height: 0.2em;
		width: 2em;
		background-color: black;
		// transition: backgroundColor 2s;
	}

	&__spin:hover {
		cursor: pointer;
		position: absolute;
		height: 0.2em;
		width: 2em;
		background-color: gold;
	}

	&__spin::before {
		content: '';
		position: absolute;
		bottom: -0.7em;
		right: 0.3em;
		height: 0.3em;
		width: 2em;
		background-color: black;
	}

	&__spin::after {
		content: '';
		position: absolute;
		top: -0.7em;
		right: 0.3em;
		height: 0.3em;
		width: 2em;
		background-color: black;
	}

	&__spin:hover::before {
		animation: buttonAnimation linear 1s forwards;
	}
	&__spin:hover::after {
		animation: buttonAnimation linear 1s forwards;
	}
}

.nav__project {
	position: relative;
	// 	background-color: aqua;
	// }
}
.navigation_no_phone {
	display: flex;
	justify-content: space-around;
	padding: 20px 10px;
	background-color: gold;
	&__nav__link {
		position: relative;
		text-decoration: none;
		text-transform: uppercase;
		color: black;
		font-weight: 500;
		.fa-solid {
			font-size: 1.5em;
		}
	}

	&__nav__link::after {
		content: '';
		position: absolute;
		height: 0.3em;
		width: 0em;
		background-color: black;
		z-index: 40;
		bottom: -0.5em;
		left: 0;
	}

	&__nav__link:hover::after {
		animation: NavDecoration ease-out 2s forwards;
	}
}

// Created a navigation on the phone

.navigation_on_phone {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	right: 0;
	height: 100vh;
	width: 100%vh;
	background-color: whitesmoke;

	&__nav__link {
		position: relative;
		text-transform: uppercase;
		text-decoration: none;
		color: black;
		font-size: large;
		// padding: 1em 1em;
		margin: 1em;
	}

	&__nav__link::after {
		content: '';
		position: absolute;
		height: 0.2em;
		width: 0em;
		background-color: black;
		z-index: 40;
		bottom: -0.5em;
		left: 0;
	}

	&__nav__link:hover::after {
		animation: NavDecoration ease-out 2s forwards;
	}
}

@keyframes buttonAnimation {
	from {
		// transform: translateX(0em);
		width: 2em;
	}
	to {
		// transform: translateX(1em);
		width: 1.3em;
	}
}

@keyframes NavDecoration {
	from {
		width: 0em;
	}
	to {
		width: 4em;
	}
}
