// @import '.animation.scss';

*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	// do em i rem tak żeby to było 10px
	scroll-behavior: smooth;
}

.wrapper {
	margin: 0 auto;
	max-width: 120em;
	width: 100%;
}

.burger__button {
	position: relative;
	display: flex;
	justify-content: flex-end;
	padding: 20px 10px;
	text-decoration: none;
	color: black;
	

	&__spin {
		cursor: pointer;
		position: absolute;
		height: 0.2em;
		width: 2em;
		background-color: black;
		// transition: backgroundColor 2s;
	}

    &__spin:hover{
        cursor: pointer;
		position: absolute;
		height: 0.2em;
		width: 2em;
        background-color: gold;
    }

	&__spin::before {
		content: '';
		position: absolute;
		bottom: -0.7em;
		right: 0.3em;
		height: 0.3em;
		width: 2em;
		background-color: black;
	}

	&__spin::after {
		content: '';
		position: absolute;
		top: -0.7em;
		right: 0.3em;
		height: 0.3em;
		width: 2em;
		background-color: black;
	}

    &__spin:hover::before{
        animation: buttonAnimation linear 1s;
    }
    &__spin:hover::after{
        animation: buttonAnimation linear 1s;
    }
}



.nav__project {
	position: relative;
	// 	background-color: aqua;
	// }
}
.navigation_no_phone {
	display: flex;
	justify-content: space-around;
	padding: 20px 10px;
	background-color: gold;
	&__nav__link {
		text-decoration: none;
		text-transform: uppercase;
		color: black;
		font-weight: 500;
		.fa-solid {
			font-size: 1.5em;
		}
	}
}

@keyframes buttonAnimation {
	from {
		// transform: translateX(0em);
        width: 2em;;
        
	}
	to {
		// transform: translateX(1em);
        width: 1.3em;
	}
}
